a{
	text-decoration: none;
}
.full-wraper{
	width: 100%;
}
.wraper{
	width: 1100px;
	margin: 0 auto;
}
.logo img{
	width: 140px;
	padding: 10px 0;
	float: left;
}
.manu{
	 float: left;
     width: 960px;
	 text-align: right;
	 margin-top: 15px;
}
.manu a{
	color: black;
	padding: 10px;
	font-size: 24px;
}

/*=============== baner ==============*/

